In [1]:
# Import the functions from /tools
import math
import os

# You need to choose one of the api's or hf's "request_llm" function here. 
# from tools.hf_open_source_llm_request import request_llm
# from tools.api_request import request_gpt as request_llm
from tools.api_request import request_gemini as request_llm 

from tools.db_detail import db_getdesc
from tools.db_detail import db_getnames
from tools.sql_execute import sqlite_execute as execute
from tqdm import tqdm
import json
import argparse

def sql_evoke(query,db_name):
    result, execution_time ,executable = execute("datasets/cosql_dataset/database/"+db_name+"/"+db_name+".sqlite",query)
    return result 

def get_example(db_name):
    sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
    result = sql_evoke(sql_query,db_name)
    column_example=""
    for table_name in result:
        column_example = column_example + table_name[0] + ":\n"
        sql_get_eg = "SELECT * FROM "+ table_name[0] +" LIMIT 3;"
        table_eg = sql_evoke(sql_get_eg,db_name)
        for table_data in table_eg:
            column_example = column_example + '('
            for column_data in table_data: 
                column_example = column_example + str(column_data) +','
            column_example = column_example[:-1] + ')\n'
    return column_example

# print(db_getdesc("car_1"),get_example("car_1"))

In [2]:
from agents.rewriter import Rewriter
from agents.selector import Selector
from agents.detector import Detector
from agents.decomposer import Decomposer
from agents.refiner import Refiner

# creat and name the agents
rewriter = Rewriter("Rewriter")
selector = Selector("Selector")
detector = Detector("Detector")
decomposer = Decomposer("Decomposer")
refiner = Refiner("Refiner")

# input_data = "hey!"
# output_rewriter = rewriter.process_input(input_data)
# output_selector = selector.process_input(input_data)
# output_detector = detector.process_input(input_data)
# output_decomposer = decomposer.process_input(input_data)
# output_refiner = refiner.process_input(input_data)

In [3]:


def solve_answerable(db_name, output_selector, question):
    output_decomposer = ""
    output_refiner = ""
    
    print("________Decompose question and solve________")
    input_data = {
    "evidence": "",
    "db_name": db_name,
    "mini_schema": output_selector,
    "question": question,
    }

    output_decomposer = decomposer.process_input(input_data)
    print(output_decomposer)
    
    if output_decomposer["executable"]:
        return output_decomposer["sql"], output_decomposer, output_refiner
        # sql_output = " Result:" + str(output_decomposer["result"])
    else:
        
        print("________Refines erroneous SQL queries________")
        input_data = {
        "evidence": "",
        "db_name": db_name,
        "mini_schema": output_selector,
        "question": question,
        "old_sql": output_decomposer.get("sql"),
        "log": output_decomposer.get("log")
        }
        
        
        output_refiner = refiner.process_input(input_data)
        # print(output_refiner)
        print(output_refiner)
        return output_refiner["sql"], output_decomposer, output_refiner
        
        # if output_decomposer["executable"]:
        #     sql_output = " Result:" + str(output_refiner["result"])



def process_json_part(data, output_file):
    for index1,item in enumerate(tqdm(data)):
        retries = 0
        while retries < 2:
            try:
                # print(item)
                # Initialnize messages
                id_now = item.get('id')
                print("id " + str(id_now) + " Turn "+str(index1)+" ==================================================================")
                db_name = item['db_name']
                previous_QA = ""
                
                
                for index, turn in enumerate(item['turns']):
                    
                    if turn['isuser']:
                        final_output = ""
                        output_rewriter = ""
                        output_selector = ""
                        output_detector = ""
                        output_decomposer = ""
                        output_refiner = ""
                        final_output = ""
                        rewritten_questions = []
                        rewritten_outputs = []
                        sql_output = ""
                        user_question = turn['text']
                        question_type = turn['type']
        
                        print("previous_QA " + ":" + previous_QA)
                        print("question " + str(index//2) + ":\033[93m " + user_question + "\033[0m")
                        
                        if index+1<len(item['turns']):
        
                            # print("________Question rewriter________")
                            # input_data = {
                            #     "db_desc": db_getnames(db_name),
                            #     "evidence": "",
                            #     "question": user_question,
                            #     "previous_QA": previous_QA
                            # }
                            
                            # output_rewriter = rewriter.process_input(input_data)
                            
                            # if output_rewriter["improper"] == "YES":
                            #     final_output = output_rewriter["text"]

                            if user_question == "":
                                continue
                            
                            else:
                                # rewritten_question = output_rewriter["text"]
                                rewritten_question = "previous QA:" + previous_QA + "\ncurrent question:" + user_question
                                
                                print("________Select columns and values________")
                                input_data = {
                                    "evidence": "",
                                    "db_name": db_name,
                                    "db_desc": db_getdesc(db_name),
                                    "db_exam": get_example(db_name),
                                    "question": rewritten_question 
                                }
                                
                                output_selector = selector.process_input(input_data)
                                print(output_selector)
                            
                                
                                print("________Question type detect________")
                                input_data = {
                                    "evidence": "",
                                    "db_name": db_name,
                                    "db_desc": db_getdesc(db_name),
                                    "mini_schema": output_selector,
                                    "question": rewritten_question
                                }
                                
                                output_detector = detector.process_input(input_data)
                                # print("output_detectoroutput_detectoroutput_detector" + output_detector)
                                # The question is Answerable
                                # print(output_detector)
                                
                                if output_detector == "YES":
                                    
                                    final_output, output_decomposer, output_refiner = solve_answerable(db_name, output_selector, rewritten_question)
                                    
                                else:
                                        
                                    final_output = output_detector.get("answer",output_detector)

                                    if output_detector.get("type",'').lower() != 'improper':
                                        rewritten_questions = output_detector.get("rewrite",[])
                                        rewritten_questions.append(user_question)
                                        print("rewritten_questions: :\033[94m" + str(rewritten_questions) + "\033[0m")
                                        
                                        for rewritten_question in rewritten_questions:
                                            possible_output, output_decomposer, output_refiner = solve_answerable(db_name, output_selector, "previous QA:" + previous_QA + "\ncurrent question:" + rewritten_question)
                                            rewritten_outputs.append(possible_output)
                                                            
                            # llm record
                            print("\nFINAL Response:")
                            print(final_output)
                            
                            item['turns'][index+1]['predict'] = final_output
                            item['turns'][index+1]['rewritten_questions'] = rewritten_questions
                            item['turns'][index+1]['rewritten_outputs'] = rewritten_outputs

                            
                            
                            item['turns'][index+1]['Rewriter'] = output_rewriter
                            item['turns'][index+1]['Selector'] = output_selector
                            item['turns'][index+1]['Detector'] = output_detector
                            item['turns'][index+1]['Decomposer'] = output_decomposer
                            item['turns'][index+1]['Refiner'] = output_refiner
                            
                            # update messages
                            g_ans = ""
                            if item['turns'][index+1]['text']:
                                g_ans = item['turns'][index+1]['text']
                            else:
                                g_ans = item['turns'][index+1]['query']
                            if question_type == "answerable":
                                sql_result = sql_evoke(g_ans,db_name)
                                sql_output = " Result:" + str(sql_result)
                            # previous_QA += "\nQ:" + user_question + "\nA:" + g_ans + sql_output + '\n'
                            previous_QA += "\nQ:" + user_question + "\nA:" + g_ans + '\n'
                            print("gold answer: " + g_ans)
                            print("————————————————————————————————————————————————————————————")
                            
                if not os.path.exists(output_file):
                    with open(output_file, 'w') as f:
                        items = [item]
                        json.dump(items, f, indent=4)
                        f.write('\n')
                else:
                    with open(output_file, 'r') as f:
                        try:
                            items = json.load(f)
                        except json.JSONDecodeError:
                            print("\033[91mError:The file content is not in valid JSON format\033[0m")
                            # items = []
        
                    if not isinstance(items, list):
                        print("\033[91mError:The file content is not in valid JSON format\033[0m")
                        # items = []

                    items.append(item)

                    with open(output_file, 'w') as f:
                        json.dump(items, f, indent=4)
                        f.write('\n')
                break
            except Exception as e:
                retries += 1
                print(f"\033[91m==============Error processing id {id_now} data index {index} (attempt {retries}): {e}==============\033[0m")

with  open('datasets/MMSQL_test.json', 'r', encoding='utf-8') as f:
        data = json.load(f)
    
process_json_part(data[80:81],'agenttest1013multians.json')

  0%|                                                                                                                                                                                                                                                                          | 0/1 [00:00<?, ?it/s]

id 80 Turn 0 ==================================================================
previous_QA :
question 0: Can you list the number of car makers on each continent?
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "keep_all",
  "countries": ["CountryName", "Continent"],
  "car_makers": ["Country"],
  "model_list": "drop_all",
  "car_names": "drop_all",
  "cars_data": "drop_all"
}
Table:continents
[('ContId', cont id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Continent', continent type:text. Value examples:[america, europe, asia]),]
Table:countries
[('CountryName', country name type:text. Value examples:[usa, germany, france]),('Continent', continent type:number. Value examples:[1, 2, 3]),]
Table:car_makers
[('Country', country type:text. Value examples:[1, 2, 3]),]
Foreign keys:
countries.'Continent' = continents.'ContId'

________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
```json
{"answerable": "Yes"}
```
{"answerable": "Yes"}
________Decompose question and solve________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [], 'sql': 'SELECT T1.Continent, COUNT(T2.Country) FROM continents AS T1 INNER JOIN countries AS T2 ON T1.ContId = T2.Continent GROUP BY T1.Continent', 'executable': False, 'log': 'no such column: T2.Country', 'process': 'Subquestion 1: Get the count of car makers for each continent.\nSQL ```sql SELECT T1.Continent, COUNT(T2.Country) FROM continents AS T1 INNER JOIN countries AS T2 ON T1.ContId = T2.Continent GROUP BY T1.Continent```\n\nQuestion Solved. \n'}
________Refines erroneous SQL queries________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [], 'sql': 'SELECT T1.Continent, COUNT(DISTINCT T3.Country) FROM continents AS T1 INNER JOIN countries AS T2 ON T1.ContId = T2.Continent INNER JOIN car_makers AS T3 ON T2.CountryName = T3.Country GROUP BY T1.Continent', 'executable': True, 'log': ''}

FINAL Response:
SELECT T1.Continent, COUNT(DISTINCT T3.Country) FROM continents AS T1 INNER JOIN countries AS T2 ON T1.ContId = T2.Continent INNER JOIN car_makers AS T3 ON T2.CountryName = T3.Country GROUP BY T1.Continent
gold answer: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;
————————————————————————————————————————————————————————————
previous_QA :
Q:Can you list the number of car makers on each continent?
A:SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

question 1: What about the number of car makers in the country USA?
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": ["CountryName", "Continent"],
  "car_makers": ["Maker", "Country"],
  "model_list": "keep_all",
  "car_names": "keep_all",
  "cars_data": "drop_all"
}
Table:countries
[('CountryName', country name type:text. Value examples:[usa, germany, france]),('Continent', continent type:number. Value examples:[1, 2, 3]),]
Table:car_makers
[('Maker', maker type:text. Value examples:[amc, volkswagen, bmw]),('Country', country type:text. Value examples:[1, 2, 3]),]
Table:model_list
[('ModelId', model id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:number. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[amc, audi, bmw]),]
Table:car_names
[('MakeId', make id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[chevrolet, buick, plymouth]),('Make', make type:text. Value examples:[chevrolet chevelle malibu, buick skylark 320, plymouth satellite]),]
Foreign keys:
car_names.'Model' = model_list.'Model'

________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
```json
{"answerable": "Yes"}
```
{"answerable": "Yes"}
________Decompose question and solve________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{'result': [(4,)], 'sql': "SELECT COUNT(DISTINCT Maker) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'usa')", 'executable': True, 'log': '', 'process': "Subquestion 1: Find the country ID for USA.\nSQL: ```sql SELECT CountryId FROM countries WHERE CountryName = 'usa'```\n\nSubquestion 2: Count the number of car makers in the country USA.\nSQL: ```sql SELECT COUNT(DISTINCT Maker) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'usa')```\n\nQuestion Solved. \n"}

FINAL Response:
SELECT COUNT(DISTINCT Maker) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'usa')
gold answer: seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "usa"
————————————————————————————————————————————————————————————
previous_QA :
Q:Can you list the number of car makers on each continent?
A:SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

Q:What about the number of car makers in the country USA?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "usa"

question 2: How about in the country Germany?
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": ["CountryName", "CountryId"],
  "car_makers": ["Country", "Maker", "Id"],
  "model_list": "keep_all",
  "car_names": "keep_all",
  "cars_data": "drop_all"
}
Table:countries
[('CountryId', country id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('CountryName', country name type:text. Value examples:[usa, germany, france]),]
Table:car_makers
[('Id', id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:text. Value examples:[amc, volkswagen, bmw]),('Country', country type:text. Value examples:[1, 2, 3]),]
Table:model_list
[('ModelId', model id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:number. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[amc, audi, bmw]),]
Table:car_names
[('MakeId', make id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[chevrolet, buick, plymouth]),('Make', make type:text. Value examples:[chevrolet chevelle malibu, buick skylark 320, plymouth satellite]),]
Foreign keys:
car_makers.'Country' = countries.'CountryId'
model_list.'Maker' = car_makers.'Id'
car_names.'Model' = model_list.'Model'

________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
```json
{"answerable": "Yes"}
```
{"answerable": "Yes"}
________Decompose question and solve________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [(4,)], 'sql': "SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'germany')", 'executable': True, 'log': '', 'process': "Subquestion 1: Find the CountryId for Germany.\nSQL: ```sql SELECT CountryId FROM countries WHERE CountryName = 'germany'```\n\nSubquestion 2: Count the number of car makers in the country Germany.\nSQL: ```sql SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'germany')```\n\nQuestion Solved. \n"}

FINAL Response:
SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'germany')
gold answer: seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "germany"
————————————————————————————————————————————————————————————
previous_QA :
Q:Can you list the number of car makers on each continent?
A:SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

Q:What about the number of car makers in the country USA?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "usa"

Q:How about in the country Germany?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "germany"

question 3: What about France?
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": ["CountryName", "CountryId", "Continent"],
  "car_makers": ["Country", "Id", "Maker", "FullName"],
  "model_list": "keep_all",
  "car_names": "keep_all",
  "cars_data": "drop_all"
}
Table:countries
[('CountryId', country id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('CountryName', country name type:text. Value examples:[usa, germany, france]),('Continent', continent type:number. Value examples:[1, 2, 3]),]
Table:car_makers
[('Id', id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:text. Value examples:[amc, volkswagen, bmw]),('FullName', full name type:text. Value examples:[American Motor Company, Volkswagen, BMW]),('Country', country type:text. Value examples:[1, 2, 3]),]
Table:model_list
[('ModelId', model id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:number. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[amc, audi, bmw]),]
Table:car_names
[('MakeId', make id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Model', model type:text. Value examples:[chevrolet, buick, plymouth]),('Make', make type:text. Value examples:[chevrolet chevelle malibu, buick skylark 320, plymouth satellite]),]
Foreign keys:
car_makers.'Country' = countries.'CountryId'
model_list.'Maker' = car_makers.'Id'
car_names.'Model' = model_list.'Model'

________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
```json
{"answerable": "Yes"}
```
{"answerable": "Yes"}
________Decompose question and solve________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [(3,)], 'sql': "SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'france')", 'executable': True, 'log': '', 'process': "Subquestion 1: Find the CountryId for France.\nSQL: ```sql SELECT CountryId FROM countries WHERE CountryName = 'france'```\n\nSubquestion 2: Count the number of car makers in the country with the CountryId found in the previous step.\nSQL: ```sql SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'france')```\n\nQuestion Solved. \n"}

FINAL Response:
SELECT COUNT(*) FROM car_makers WHERE Country = (SELECT CountryId FROM countries WHERE CountryName = 'france')
gold answer: seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "france"
————————————————————————————————————————————————————————————
previous_QA :
Q:Can you list the number of car makers on each continent?
A:SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

Q:What about the number of car makers in the country USA?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "usa"

Q:How about in the country Germany?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "germany"

Q:What about France?
A:seLECT count(*) FROM car_makers as T1 join countries as T2 on T2.CountryId  =  T1.Country where T2.countryname = "france"

question 4: Thanks!
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "keep_all",
  "car_makers": "keep_all",
  "model_list": "drop_all",
  "car_names": "drop_all",
  "cars_data": "drop_all"
}
Table:countries
[('CountryId', country id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('CountryName', country name type:text. Value examples:[usa, germany, france]),('Continent', continent type:number. Value examples:[1, 2, 3]),]
Table:car_makers
[('Id', id type:number PRIMARY KEY. Value examples:[1, 2, 3]),('Maker', maker type:text. Value examples:[amc, volkswagen, bmw]),('FullName', full name type:text. Value examples:[American Motor Company, Volkswagen, BMW]),('Country', country type:text. Value examples:[1, 2, 3]),]
Foreign keys:
car_makers.'Country' = countries.'CountryId'

________Question type detect________
request gemini-1.5-flash

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:30<00:00, 30.58s/it]

Success: Operation completed after 0 retries
```json
{"answerable": "improper", "type": "improper", "answer": "You're welcome! Is there anything else I can help you with?"}
```
{"answerable": "improper", "type": "improper", "answer": "You're welcome! Is there anything else I can help you with?"}

FINAL Response:
You're welcome! Is there anything else I can help you with?
gold answer: Bye
————————————————————————————————————————————————————————————