In [1]:
# Import the functions from /tools
import math
import os

# You need to choose one of the api's or hf's "request_llm" function here. 
# from tools.hf_open_source_llm_request import request_llm
# from tools.api_request import request_gpt as request_llm
from tools.api_request import request_gemini as request_llm 

from tools.db_detail import db_getdesc
from tools.db_detail import db_getnames
from tools.sql_execute import sqlite_execute as execute
from tqdm import tqdm
import json
import argparse

def sql_evoke(query,db_name):
    result, execution_time ,executable = execute("datasets/cosql_dataset/database/"+db_name+"/"+db_name+".sqlite",query)
    return result 

def get_example(db_name):
    sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
    result = sql_evoke(sql_query,db_name)
    column_example=""
    for table_name in result:
        column_example = column_example + table_name[0] + ":\n"
        sql_get_eg = "SELECT * FROM "+ table_name[0] +" LIMIT 3;"
        table_eg = sql_evoke(sql_get_eg,db_name)
        for table_data in table_eg:
            column_example = column_example + '('
            for column_data in table_data: 
                column_example = column_example + str(column_data) +','
            column_example = column_example[:-1] + ')\n'
    return column_example

# print(db_getdesc("car_1"),get_example("car_1"))

In [2]:
from agents.rewriter import Rewriter
from agents.selector import Selector
from agents.detector import Detector
from agents.decomposer import Decomposer
from agents.refiner import Refiner

# creat and name the agents
rewriter = Rewriter("Rewriter")
selector = Selector("Selector")
detector = Detector("Detector")
decomposer = Decomposer("Decomposer")
refiner = Refiner("Refiner")

# input_data = "hey!"
# output_rewriter = rewriter.process_input(input_data)
# output_selector = selector.process_input(input_data)
# output_detector = detector.process_input(input_data)
# output_decomposer = decomposer.process_input(input_data)
# output_refiner = refiner.process_input(input_data)

In [3]:
def process_json_part(data, output_file):
    for index1,item in enumerate(tqdm(data)):
        # Initialnize messages
        print("Turn "+str(index1)+" ==================================================================")
        db_name = item['db_name']
        previous_QA = ""
        
        
        for index, turn in enumerate(item['turns']):
            
            if turn['isuser']:
                final_output = ""
                output_rewriter = ""
                output_selector = ""
                output_detector = ""
                output_decomposer = ""
                output_refiner = ""
                final_output = ""
                sql_output = ""
                user_question = turn['text']
                question_type = turn['type']

                print("previous_QA " + ":" + previous_QA)
                print("question " + str(index//2) + ":" + user_question)
                
                if index+1<len(item['turns']):

                    print("________Question rewriter________")
                    input_data = {
                        "db_desc": db_getnames(db_name),
                        "evidence": "",
                        "question": user_question,
                        "previous_QA": previous_QA
                    }
                    
                    output_rewriter = rewriter.process_input(input_data)
                    
                    if output_rewriter["improper"] == "YES":
                        final_output = output_rewriter["text"]
                    else:
                        rewritten_question = output_rewriter["text"]
                        print("________Select columns and values________")
                        input_data = {
                            "evidence": "",
                            "db_name": db_name,
                            "db_desc": db_getdesc(db_name),
                            "db_exam": get_example(db_name),
                            "question": rewritten_question
                        }
                        
                        output_selector = selector.process_input(input_data)
                        
                        print("________Question type detect________")
                        input_data = {
                            "evidence": "",
                            "db_name": db_name,
                            "db_desc": db_getdesc(db_name),
                            "mini_schema": output_selector,
                            "question": rewritten_question
                        }
                        
                        output_detector = detector.process_input(input_data)
                        # print("output_detectoroutput_detectoroutput_detector" + output_detector)
                        # The question is Answerable
                        print(output_detector)
                        if output_detector == "YES" or output_detector == "YES.":
                            
                            print("________Decompose question and solve________")
                            input_data = {
                            "evidence": "",
                            "db_name": db_name,
                            "mini_schema": output_selector,
                            "question": rewritten_question
                            }

                            output_decomposer = decomposer.process_input(input_data)
                            print(output_decomposer)
                            
                            if output_decomposer["executable"]:
                                final_output = output_decomposer["sql"]
                                # sql_output = " Result:" + str(output_decomposer["result"])
                            else:
                                
                                print("________Refines erroneous SQL queries________")
                                input_data = {
                                "evidence": "",
                                "db_name": db_name,
                                "mini_schema": output_selector,
                                "question": rewritten_question,
                                "old_sql": output_decomposer.get("sql"),
                                "log": output_decomposer.get("log")
                                }
                                
                                
                                output_refiner = refiner.process_input(input_data)
                                # print(output_refiner)
                                print(output_refiner)
                                final_output = output_refiner["sql"]
                                
                                # if output_decomposer["executable"]:
                                #     sql_output = " Result:" + str(output_refiner["result"])
                            
                        else:
                            final_output = output_detector
                            
                    # llm record
                    print("\nFINAL Response:")
                    print(final_output)
                    print("————————————————————————————————————————————————————————————")
                    item['turns'][index+1]['predict'] = final_output
                    item['turns'][index+1]['Rewriter'] = output_rewriter
                    item['turns'][index+1]['Selector'] = output_selector
                    item['turns'][index+1]['Detector'] = output_detector
                    item['turns'][index+1]['Decomposer'] = output_decomposer
                    item['turns'][index+1]['Refiner'] = output_refiner
                    
                    # update messages
                    g_ans = ""
                    if item['turns'][index+1]['text']:
                        g_ans = item['turns'][index+1]['text']
                    else:
                        g_ans = item['turns'][index+1]['query']
                    if question_type == "answerable":
                        sql_result = sql_evoke(g_ans,db_name)
                        sql_output = " Result:" + str(sql_result)
                    previous_QA += "\nQ:" + user_question + "\nA:" + g_ans + sql_output + '\n'
                    
                    
        if not os.path.exists(output_file):
            with open(output_file, 'w') as f:
                items = [item]
                json.dump(items, f, indent=4)
                f.write('\n')
        else:
            with open(output_file, 'r') as f:
                try:
                    items = json.load(f)
                except json.JSONDecodeError:
                    print("\033[91mError:The file content is not in valid JSON format\033[0m")
                    # items = []

            if not isinstance(items, list):
                print("\033[91mError:The file content is not in valid JSON format\033[0m")
                # items = []

            items.append(item)

            with open(output_file, 'w') as f:
                json.dump(items, f, indent=4)
                f.write('\n') 

with  open('datasets/MMSQL_test.json', 'r', encoding='utf-8') as f:
        data = json.load(f)
    
process_json_part(data,'agenttest1009.json')

  0%|                                                                                                                                                                                                                                                                                                           | 0/149 [00:00<?, ?it/s]

previous_QA :
question 0:What is the most popular car color?
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "What is the most popular car color in the car_1 database?"}
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "drop_all",
  "car_makers": "drop_all",
  "model_list": "drop_all",
  "car_names": "drop_all",
  "cars_data": "keep_all"
}
________Question type detect________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
The question is unanswerable. The database schema does not contain information about car colors.


FINAL Response:
The question is unanswerable. The database schema does not contain information about car colors.

————————————————————————————————————————————————————————————
previous_QA :
Q:What is the most popular car color?
A:This question cannot be answered because the provided database schema does not contain any information about car colors. Without a table or column that stores data on the color of cars, it is impossible to determine or list the most popular car color.

question 1:How many car models are produced by each maker? List the count and the maker full name.
________Question rewriter________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "For each car maker, please provide the count of car models they produce and the full name of the maker."}
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "drop_all",
  "car_makers": ["FullName", "Id"],
  "model_list": ["Maker", "ModelId"],
  "car_names": "drop_all",
  "cars_data": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
YES
________Decompose question and solve________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [('American Motor Company', 1), ('Volkswagen', 2), ('BMW', 1), ('General Motors', 5), ('Ford Motor Company', 3), ('Chrysler', 4), ('Citroen', 1), ('Nissan Motors', 2), ('Fiat', 1), ('Honda', 1)], 'sql': 'SELECT T2.FullName, T1.ModelCount FROM (     SELECT Maker, COUNT(ModelId) AS ModelCount     FROM model_list     GROUP BY Maker ) AS T1 INNER JOIN car_makers AS T2 ON T1.Maker = T2.Id', 'executable': True, 'log': ''}

FINAL Response:
SELECT T2.FullName, T1.ModelCount FROM (     SELECT Maker, COUNT(ModelId) AS ModelCount     FROM model_list     GROUP BY Maker ) AS T1 INNER JOIN car_makers AS T2 ON T1.Maker = T2.Id
————————————————————————————————————————————————————————————
previous_QA :
Q:What is the most popular car color?
A:This question cannot be answered because the provided database schema does not contain any information about car colors. Without a table or column that stores data on the color of cars, it is impossible to determine or list the most popular car color.

Q:How many car models are produced by each maker? List the count and the maker full name.
A:SELECT Count(*) ,  T2.FullName  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id; Result:[(1, 'American Motor Company'), (2, 'Volkswagen'), (1, 'BMW'), (5, 'General Motors'), (3, 'Ford Motor Company'), (4, 'Chrysler'), (1, 'Citroen'), (2, 'Nissan Motors'), (1, 'Fiat'), (1, 'Honda')]

question 2:Which models are the most popular?
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "Which car models are the most popular?"}
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "drop_all",
  "car_makers": "drop_all",
  "model_list": ["Model", "Maker"],
  "car_names": ["Model", "Make"],
  "cars_data": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
The question is unanswerable. The database schema contains information about car models and makes, but it doesn't have any information about popularity. To answer the question, you would need a table with data on car sales, registrations, or other metrics that indicate popularity.


FINAL Response:
The question is unanswerable. The database schema contains information about car models and makes, but it doesn't have any information about popularity. To answer the question, you would need a table with data on car sales, registrations, or other metrics that indicate popularity.

————————————————————————————————————————————————————————————
previous_QA :
Q:What is the most popular car color?
A:This question cannot be answered because the provided database schema does not contain any information about car colors. Without a table or column that stores data on the color of cars, it is impossible to determine or list the most popular car color.

Q:How many car models are produced by each maker? List the count and the maker full name.
A:SELECT Count(*) ,  T2.FullName  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id; Result:[(1, 'American Motor Company'), (2, 'Volkswagen'), (1, 'BMW'), (5, 'General Motors'), (3, 'Ford Motor Company'), (4, 'Chrysler'), (1, 'Citroen'), (2, 'Nissan Motors'), (1, 'Fiat'), (1, 'Honda')]

Q:Which models are the most popular?
A:SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) desc limit 1; Result:[('buick',)]

question 3:How about the least?
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "Which models are the least popular?"}
________Select columns and values________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "drop_all",
  "car_makers": "drop_all",
  "model_list": ["Model", "Maker"],
  "car_names": ["Model", "Make"],
  "cars_data": ["Id", "MPG", "Cylinders", "Edispl", "Horsepower", "Weight"]
}
________Question type detect________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
The question is unanswerable.  The database schema does not contain information about car popularity. To answer this question, you would need a table with information on sales figures or other metrics that indicate popularity.


FINAL Response:
The question is unanswerable.  The database schema does not contain information about car popularity. To answer this question, you would need a table with information on sales figures or other metrics that indicate popularity.

————————————————————————————————————————————————————————————
previous_QA :
Q:What is the most popular car color?
A:This question cannot be answered because the provided database schema does not contain any information about car colors. Without a table or column that stores data on the color of cars, it is impossible to determine or list the most popular car color.

Q:How many car models are produced by each maker? List the count and the maker full name.
A:SELECT Count(*) ,  T2.FullName  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id; Result:[(1, 'American Motor Company'), (2, 'Volkswagen'), (1, 'BMW'), (5, 'General Motors'), (3, 'Ford Motor Company'), (4, 'Chrysler'), (1, 'Citroen'), (2, 'Nissan Motors'), (1, 'Fiat'), (1, 'Honda')]

Q:Which models are the most popular?
A:SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) desc limit 1; Result:[('buick',)]

Q:How about the least?
A:SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) limit 1; Result:[('amc',)]

question 4:Which companies have three or more models? list the count and the maker's full name.
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "Which car makers have three or more models? List the count and the maker's full name."}
________Select columns and values________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{
  "continents": "drop_all",
  "countries": "drop_all",
  "car_makers": ["FullName", "Id", "Maker", "Country"],
  "model_list": ["Maker", "Model", "ModelId"],
  "car_names": "drop_all",
  "cars_data": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
YES
________Decompose question and solve________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{'result': [('General Motors', 5), ('Ford Motor Company', 3), ('Chrysler', 4)], 'sql': 'SELECT T2.FullName, T1.ModelCount FROM (     SELECT Maker, COUNT(ModelId) AS ModelCount     FROM model_list     GROUP BY Maker     HAVING COUNT(ModelId) >= 3 ) AS T1 INNER JOIN car_makers AS T2 ON T1.Maker = T2.Id;', 'executable': True, 'log': ''}

FINAL Response:
SELECT T2.FullName, T1.ModelCount FROM (     SELECT Maker, COUNT(ModelId) AS ModelCount     FROM model_list     GROUP BY Maker     HAVING COUNT(ModelId) >= 3 ) AS T1 INNER JOIN car_makers AS T2 ON T1.Maker = T2.Id;
————————————————————————————————————————————————————————————
previous_QA :
Q:What is the most popular car color?
A:This question cannot be answered because the provided database schema does not contain any information about car colors. Without a table or column that stores data on the color of cars, it is impossible to determine or list the most popular car color.

Q:How many car models are produced by each maker? List the count and the maker full name.
A:SELECT Count(*) ,  T2.FullName  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id; Result:[(1, 'American Motor Company'), (2, 'Volkswagen'), (1, 'BMW'), (5, 'General Motors'), (3, 'Ford Motor Company'), (4, 'Chrysler'), (1, 'Citroen'), (2, 'Nissan Motors'), (1, 'Fiat'), (1, 'Honda')]

Q:Which models are the most popular?
A:SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) desc limit 1; Result:[('buick',)]

Q:How about the least?
A:SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) limit 1; Result:[('amc',)]

Q:Which companies have three or more models? list the count and the maker's full name.
A:SELECT Count(*) ,  T2.FullName  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id having count(*) >=3; Result:[(5, 'General Motors'), (3, 'Ford Motor Company'), (4, 'Chrysler')]

question 5:Thanks!
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))

  1%|█▉                                                                                                                                                                                                                                                                                               | 1/149 [00:48<1:59:21, 48.39s/it]

Success: Operation completed after 0 retries
{"improper": "YES", "answer": "You're welcome! Is there anything else I can help you with?"}

FINAL Response:
You're welcome! Is there anything else I can help you with?
————————————————————————————————————————————————————————————
previous_QA :
question 0:Hi!  Can you tell me how many unique template IDs there are?
________Question rewriter________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "How many unique template IDs are there in the 'Templates' table of the 'cre_Doc_Template_Mgt' database?"}
________Select columns and values________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{
  "Ref_Template_Types": "drop_all",
  "Templates": ["Template_ID", "Version_Number", "Template_Type_Code", "Date_Effective_From", "Date_Effective_To", "Template_Details"],
  "Documents": "drop_all",
  "Paragraphs": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
YES
________Decompose question and solve________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{'result': [(20,)], 'sql': 'SELECT COUNT(DISTINCT Template_ID) FROM Templates', 'executable': True, 'log': ''}

FINAL Response:
SELECT COUNT(DISTINCT Template_ID) FROM Templates
————————————————————————————————————————————————————————————
previous_QA :
Q:Hi!  Can you tell me how many unique template IDs there are?
A:SELECT count(distinct template_id) FROM Documents  Result:[(12,)]

question 1:How many of those 12 template IDs are used by more than one document?
________Question rewriter________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "How many of the 12 unique template IDs are used by more than one document?"}
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"Ref_Template_Types": "drop_all", "Templates": ["Template_ID", "Template_Type_Code"], "Documents": ["Template_ID", "Document_ID"], "Paragraphs": "drop_all"}
________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
Yes.


FINAL Response:
Yes.

————————————————————————————————————————————————————————————
previous_QA :
Q:Hi!  Can you tell me how many unique template IDs there are?
A:SELECT count(distinct template_id) FROM Documents  Result:[(12,)]

Q:How many of those 12 template IDs are used by more than one document?
A:SELECT count(template_id) FROM Documents GROUP BY template_id HAVING count(*)  >  1 Result:[(2,), (2,), (2,)]

question 2:Great!  Can you show me the corresponding document that used each of those template IDs on the list you just provided me?
________Question rewriter________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "Can you show me the documents that use the template IDs that appear more than once in the Documents table?"}
________Select columns and values________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{
  "Ref_Template_Types": "drop_all",
  "Templates": "keep_all",
  "Documents": ["Document_ID", "Template_ID", "Document_Name", "Document_Description", "Other_Details"],
  "Paragraphs": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
YES
________Decompose question and solve________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{'result': [(1, 25, 'Understanding DB', 'y', None), (80, 14, 'Welcome to NY', 'h', None), (82, 11, 'Data base', 'w', None), (3830, 14, 'Do not panic', 'k', None), (16514113, 25, 'A history of Arts', 'h', None), (385906526, 11, 'About Korea', 'b', None)], 'sql': 'SELECT * FROM Documents WHERE Template_ID IN (SELECT Template_ID FROM Documents GROUP BY Template_ID HAVING COUNT(*) > 1)', 'executable': True, 'log': ''}

FINAL Response:
SELECT * FROM Documents WHERE Template_ID IN (SELECT Template_ID FROM Documents GROUP BY Template_ID HAVING COUNT(*) > 1)
————————————————————————————————————————————————————————————
previous_QA :
Q:Hi!  Can you tell me how many unique template IDs there are?
A:SELECT count(distinct template_id) FROM Documents  Result:[(12,)]

Q:How many of those 12 template IDs are used by more than one document?
A:SELECT count(template_id) FROM Documents GROUP BY template_id HAVING count(*)  >  1 Result:[(2,), (2,), (2,)]

Q:Great!  Can you show me the corresponding document that used each of those template IDs on the list you just provided me?
A:SELECT document_id FROM Documents GROUP BY template_id HAVING count(*)  >  1 Result:[(82,), (80,), (1,)]

question 3:After that, how can I ensure that the documents are properly archived and easily accessible for future reference?
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))

  1%|███▉                                                                                                                                                                                                                                                                                             | 2/149 [01:16<1:28:50, 36.26s/it]

Success: Operation completed after 0 retries
{"improper": "YES", "answer": "To ensure proper archiving and accessibility of documents, consider implementing a robust document management system. This system should allow for organized storage, version control, and easy retrieval of documents. Additionally, establish clear policies and procedures for document archiving, including retention periods and access controls. Regularly review and update these policies to ensure they remain effective and meet evolving needs."}

FINAL Response:
To ensure proper archiving and accessibility of documents, consider implementing a robust document management system. This system should allow for organized storage, version control, and easy retrieval of documents. Additionally, establish clear policies and procedures for document archiving, including retention periods and access controls. Regularly review and update these policies to ensure they remain effective and meet evolving needs.
————————————————————————————————————————————————————————————
previous_QA :
question 0:Find the first name of the students who permanently live in the country Haiti.
________Question rewriter________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "What are the first names of the students who permanently live in Haiti?"}
________Select columns and values________
request gemini-1.5-flash
Success: Operation completed after 0 retries
{"Addresses": ["country", "city", "line_1", "line_2", "line_3", "address_id"], "Courses": "drop_all", "Departments": "drop_all", "Degree_Programs": "drop_all", "Sections": "drop_all", "Semesters": "drop_all", "Students": ["first_name", "permanent_address_id", "student_id"], "Student_Enrolment": "drop_all", "Student_Enrolment_Courses": "drop_all", "Transcripts": "drop_all", "Transcript_Contents": "drop_all"}
________Question type detect________
request gemini-1.5-flash
Success: Operation completed after 0 retries
The question is unanswerable. The database schema does not contain information about the country associated with each address. You need to provide the country information for each address in the Addresses table to answer this question.


FINAL Response:
The question is unanswerable. The database schema does not contain information about the country associated with each address. You need to provide the country information for each address in the Addresses table to answer this question.

————————————————————————————————————————————————————————————
previous_QA :
Q:Find the first name of the students who permanently live in the country Haiti.
A:SELECT T1.first_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.permanent_address_id  =  T2.address_id WHERE T2.country  =  'Haiti'  Result:[('Hobart',), ('Warren',), ('Delaney',)]

question 1:Please also find the first name of the students who have the cell phone number 09700166582
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{"improper": "NO", "rewritten": "Find the first name of the students who have the cell phone number 09700166582."}
________Select columns and values________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{
  "Addresses": "drop_all",
  "Courses": "drop_all",
  "Departments": "drop_all",
  "Degree_Programs": "drop_all",
  "Sections": "drop_all",
  "Semesters": "drop_all",
  "Students": ["first_name", "cell_mobile_number"],
  "Student_Enrolment": "drop_all",
  "Student_Enrolment_Courses": "drop_all",
  "Transcripts": "drop_all",
  "Transcript_Contents": "drop_all"
}
________Question type detect________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
YES
________Decompose question and solve________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))
Success: Operation completed after 0 retries
{'result': [('Jarvis',)], 'sql': "SELECT first_name FROM Students WHERE cell_mobile_number = '09700166582'", 'executable': True, 'log': ''}

FINAL Response:
SELECT first_name FROM Students WHERE cell_mobile_number = '09700166582'
————————————————————————————————————————————————————————————
previous_QA :
Q:Find the first name of the students who permanently live in the country Haiti.
A:SELECT T1.first_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.permanent_address_id  =  T2.address_id WHERE T2.country  =  'Haiti'  Result:[('Hobart',), ('Warren',), ('Delaney',)]

Q:Please also find the first name of the students who have the cell phone number 09700166582
A:SELECT first_name FROM Students WHERE cell_mobile_number = '09700166582' Result:[('Jarvis',)]

question 2:Can you show me the last name and address for him?
________Question rewriter________
request gemini-1.5-flash
('Connection aborted.', ConnectionResetError(10054, '远程主机强迫关闭了一个现有的连接。', None, 10054, None))

  1%|███▉                                                                                                                                                                                                                                                                                             | 2/149 [01:38<2:00:13, 49.07s/it]

Success: Operation completed after 0 retries

No valid JSON object found.

UnboundLocalError: cannot access local variable 'rewriter_output' where it is not associated with a value