In [39]:
"""
RQS_eval.py

Reads a specified JSON file and iterates through each object's 'turns' array to find a turn where 'isuser' is true and its following turn.

Usage:
    python RQS_eval.py outputs/llm_responses.json outputs/llm_responses_rqs.json

Arguments:
    --file_path: Path to the JSON file.
    --output_path: Path where the modified JSON file will be saved.
"""

import json
from tqdm import tqdm

def ask_ai(db_name, question, answer_pred, answer_gold):
    type_ai = "unanswerable"
    rqs_ai = 10
    return type_ai, rqs_ai

def process_turns(file_path, output_path):

    # Open and read the JSON file
    with open(file_path, 'r') as file:
        data = json.load(file)
    
    # Iterate over each object in the file
    for entry in tqdm(data):
        # Check if the 'turns' key exists
        print("__________________")
        if 'turns' in entry:
            turns = entry['turns']
            db_name = entry['db_name']
            length = len(turns)
            # Iterate over each turn in 'turns'
            for i in range(length):
                # Check if the current turn is a user turn
                if turns[i].get('isuser', False):
                    print(i//2)
                    # Output the current user's turn
                    print(turns[i].get('type', ''), "--", turns[i].get('text', ''))
                    # Check and process the next turn (if it exists)
                    if i + 1 < length:
                        next_turn = turns[i + 1]
                        predict_text = next_turn.get('predict', '')
                        # Find the positions of SELECT and the semicolon
                        select_pos = predict_text.upper().find('SELECT')
                        colon_pos = predict_text.find(';', select_pos)
                        if select_pos != -1 and colon_pos != -1:
                            predict_sql = predict_text[select_pos:colon_pos].replace('\n',' ')
                        elif select_pos != -1:
                            predict_sql = predict_text[select_pos:].replace('\n',' ')
                        else:
                            predict_sql = ""
                        # Store the result in a new field 'predict_sql'
                        next_turn['predict_sql'] = predict_sql
                        # Calculate the ratio of the extracted SQL to the entire predict field
                        if len(predict_text) == 0:
                            ratio = 0
                        else:
                            ratio = len(predict_sql) / len(predict_text)
                        if predict_sql != "" and ratio >= 0.5:
                                next_turn['predict_type'] = 'answerable'
                                if turns[i].get('type', '') == 'answerable':
                                    next_turn['RQS'] = "N/A"
                                else:
                                    next_turn['RQS'] = 0
                        else:
                            next_turn['predict_type'] = 'not answerable'
                            # Ask LLM, Get categorized and RQS scored based on database, questions, answers, gold answer
                            type_ai, rqs_ai = ask_ai(db_name,turns[i].get('text', ''),predict_text,next_turn.get('text', '')) 
                            next_turn['predict_type'] = type_ai
                            next_turn['RQS'] = rqs_ai
                        print("Next Turn predict_sql:", predict_sql)
                        print("Predict Type:", next_turn['predict_type'])
                    else:
                        print("Next Turn does not exist.")
    
    # Save the modified data to a new JSON file
    with open(output_path, 'w') as outfile:
        json.dump(data, outfile, indent=4)

# Example usage
input_file_path = 'outputs/gemini-1-Copy1.5-flash-llm.json'
output_file_path = 'outputs/rqs_gemini-1-Copy1.5-flash-llm.json.json'
process_turns(input_file_path, output_file_path)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 148/148 [00:00<00:00, 8221.73it/s]

__________________
0
answerable -- How many students in the "Student" table are over the age of 20?
Next Turn predict_sql: SELECT COUNT(*) FROM Student WHERE Age > 20
Predict Type: answerable
1
answerable -- How many of those students own pets?
Next Turn predict_sql: SELECT COUNT(DISTINCT S.StuID) FROM Student AS S JOIN Has_Pet AS HP ON S.StuID = HP.StuID WHERE S.Age > 20
Predict Type: answerable
__________________
0
answerable -- Can you list all the continents?
Next Turn predict_sql: SELECT Continent FROM continents
Predict Type: answerable
1
answerable -- Okay, now can you list the number of countries belonging to each continent, including the continent id as well?
Next Turn predict_sql: SELECT c.ContId, c.Continent, COUNT(DISTINCT co.CountryId) AS NumberOfCountries FROM continents c JOIN countries co ON c.ContId = co.Continent GROUP BY c.ContId, c.Continent ORDER BY c.ContId
Predict Type: answerable
2
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
unanswerable -- How many customers are there now?
Next Turn predict_sql: SELECT COUNT(*) FROM visitor
Predict Type: answerable
1
answerable -- How many visitors are ther?
Next Turn predict_sql: SELECT COUNT(DISTINCT ID) FROM visitor
Predict Type: answerable
2
answerable -- How many of them have membership levels higher than 4?
Next Turn predict_sql: SELECT count(*) FROM visitor WHERE Level_of_membership > 4
Predict Type: answerable
3
answerable -- Can you please list their names?
Next Turn predict_sql: SELECT Name FROM visitor WHERE Level_of_membership  >  4
Predict Type: answerable
4
answerable -- Can you rank them by their membership level from high to low?
Next Turn predict_sql: SELECT name, Level_of_membership FROM visitor ORDER BY Level_of_membership DESC
Predict Type: answerable
5
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
ambiguous -- Which cause has the least enrollment?
Next Turn predict_sql: SELECT c.course_name FROM Courses c JOIN Student_Enrolment_Courses sec ON c.course_id = sec.course_id GROUP BY c.course_name ORDER BY COUNT(sec.student_course_id) ASC LIMIT 1
Predict Type: answerable
1
answerable -- the name
Next Turn predict_sql: SELECT T1.course_name FROM Courses AS T1 JOIN Student_Enrolment_Courses AS T2   ON T1.course_id = T2.course_id GROUP BY T1.course_name ORDER BY COUNT(T2.student_course_id) LIMIT 1
Predict Type: answerable
2
answerable -- What is the course ID of Math?
Next Turn predict_sql: SELECT course_id FROM Courses WHERE course_name = 'math'
Predict Type: answerable
3
answerable -- How many students enrolled a course with the id of 14
Next Turn predict_sql: SELECT COUNT(DISTINCT student_id) FROM Student_Enrolment_Courses WHERE course_id = 14
Predict Type: answerable
4
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- Can you show the birth date of player id 200002?
Next Turn predict_sql: SELECT birth_date FROM players WHERE player_id = 200002
Predict Type: answerable
1
answerable -- What is the first name of player id 200001?
Next Turn predict_sql: SELECT first_name FROM players WHERE player_id = 200001
Predict Type: answerable
2
answerable -- Can you show the codes of countries that have more than 50 players?
Next Turn predict_sql: SELECT country_code FROM players GROUP BY country_code HAVING COUNT(*) > 50 ```
Predict Type: answerable
3
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- What is the average age of the losers from all matches?
Next Turn predict_sql:
Predict Type: unanswerable
1
answerable -- What about the average age of the winners from all matches?
Next Turn predict_sql: SELECT avg(winner_age) FROM matches
Predict Type: answerable
2
answerable -- How many winners are left handed?
Next Turn predict_sql: SELECT count(DISTINCT winner_id) FROM matches WHERE winner_hand = 'L'
Predict Type: answerable
3
answerable -- What are the names of the winner and loser from the longest match?
Next Turn predict_sql: SELECT winner_name, loser_name FROM matches ORDER BY minutes DESC LIMIT 1
Predict Type: answerable
4
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- which models are lighter than 3500?
Next Turn predict_sql: SELECT DISTINCT   Model FROM car_names AS cn JOIN cars_data AS cd   ON cn.MakeId = cd.Id WHERE   cd.Weight < 3500
Predict Type: answerable
1
answerable -- what is the weight of  BMW?
Next Turn predict_sql: SELECT T3.Weight FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker JOIN CARS_DATA AS T3 ON T2.ModelId  =  T3.Id WHERE T1.Maker  =  'bmw'
Predict Type: answerable
2
ambiguous -- what is the model name of the id 2?
Next Turn predict_sql: SELECT Model FROM car_names WHERE MakeId = 2
Predict Type: answerable
3
answerable -- carmaker?
Next Turn predict_sql: SELECT FullName FROM car_makers WHERE Id = 2
Predict Type: answerable
4
improper -- Thanks!
Next Turn does not exist.
__________________
0
answerable -- Which model saves the most gasoline? That is to say, have the maximum miles per gallon?
Next Turn predict_sql: SELECT Model FROM model_list ml JOIN car_names cn ON ml.ModelId = cn.MakeId JOIN cars_data cd ON cn.MakeId = cd.Id ORDER BY cd.MPG DESC LIMIT 1
Predict Type: answerable
1
answerable -- Which model has the highest horsepower?
Next Turn predict_sql: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId = T2.Id ORDER BY T2.Horsepower DESC LIMIT 1
Predict Type: answerable
__________________
0
answerable -- How many documents have template type code BK?
Next Turn predict_sql: SELECT COUNT(DISTINCT D.Document_ID) FROM Documents AS D JOIN Templates AS T ON D.Template_ID = T.Template_ID JOIN Ref_Template_Types AS RTT ON T.Template_Type_Code = RTT.Template_Type_Code WHERE RTT.Template_Type_Code = 'BK'
Predict Type: answerable
1
answerable -- And their names?
Next Turn predict_sql: SELECT T2.Document_Name FROM Templates AS T1 JOIN Documents AS T2 ON T1.Template_ID = T2.Template_ID WHERE T1.Template_Type_Code = 'BK'
Predict Type: answerable
2
answerable -- How many documents do not have template type code BK?
Next Turn predict_sql: SELECT count(*) FROM Documents AS T1 JOIN Templates AS T2 ON T1.template_id  =  T2.template_id WHERE T2.template_type_code != "BK"
Predict Type: answerable
3
improper -- Great! I appreciate your help. Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- Show the name and the release year of the song by the youngest singer
Next Turn predict_sql: SELECT Name, Song_release_year FROM singer ORDER BY Age LIMIT 1
Predict Type: answerable
1
answerable -- Ok. Can you show me the name and the release year of the song by the oldest singer
Next Turn predict_sql: SELECT song_name, song_release_year FROM singer ORDER BY age DESC LIMIT 1
Predict Type: answerable
2
answerable -- Can you also show me the name of the youngest singer
Next Turn predict_sql: SELECT Name FROM singer ORDER BY Age LIMIT 1
Predict Type: answerable
3
answerable -- And what is the name of the oldest singer and his age
Next Turn predict_sql: SELECT Name, Age FROM singer ORDER BY Age DESC LIMIT 1
Predict Type: answerable
4
answerable -- and what country was he from?

Next Turn predict_sql: SELECT Country FROM singer ORDER BY age DESC LIMIT 1
Predict Type: answerable
5
answerable -- give me the names of the singers from United States

Next Turn predict_sql: SELECT Name FROM singer WHERE Country = 'United States'
Predict Type: answerable
6
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- Which country tv channels some cartoon written by todd casey?
Next Turn predict_sql: SELECT DISTINCT T1.Country FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Written_by = 'Todd Casey'
Predict Type: answerable
1
answerable -- What is the title of cartoon written by todd casey?
Next Turn predict_sql: SELECT Title FROM Cartoon WHERE Written_by = 'Todd Casey'
Predict Type: answerable
2
answerable -- Who directed the cartoon titled enter the outsiders?
Next Turn predict_sql: SELECT Directed_by FROM Cartoon WHERE Title = 'Enter the Outsiders' ```
Predict Type: answerable
3
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
ambiguous -- What is the weight of id 1?
Next Turn predict_sql: SELECT Weight FROM cars_data WHERE Id = 1
Predict Type: answerable
1
improper -- Yes
Next Turn predict_sql: SELECT Weight FROM cars_data WHERE Id = 1
Predict Type: answerable
2
ambiguous -- Which year launch the car model  buick?
Next Turn predict_sql: SELECT DISTINCT T3.Year FROM car_names AS T1 JOIN model_list AS T2 ON T1.MakeId = T2.ModelId JOIN cars_data AS T3 ON T3.Id = T2.ModelId WHERE T1.Make = 'buick' ```
Predict Type: answerable
3
improper -- Yes
Next Turn predict_sql: SELECT DISTINCT T3.Year FROM car_names AS T1 JOIN model_list AS T2 ON T1.MakeId = T2.Maker JOIN cars_data AS T3 ON T3.Id = T2.ModelId WHERE T1.Model = 'buick' ```
Predict Type: answerable
4
answerable -- Find the horsepower of model plymouth.
Next Turn predict_sql: SELECT T2.Horsepower FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T1.Model = "plymouth"
Predict Type: answerable
5
answerable -- For the cars with 4 cylinders, which model has the largest horspower?
Next Turn predict_sql: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId = T2.Id WHERE T2.Cylinders = 4 ORDER BY T2.Horsepower DESC LIMIT 1 ```
Predict Type: answerable
6
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- What are the codes of the countries that do not speak English?
Next Turn predict_sql: SELECT DISTINCT CountryCode FROM countrylanguage WHERE Language != 'English' ```
Predict Type: answerable
1
answerable -- What are the codes of the countries that do not speak English whose government forms are not Republic?
Next Turn predict_sql:
Predict Type: unanswerable
2
answerable -- What language do each of those speak, please?
Next Turn predict_sql: SELECT T1.Code, T2.Language FROM country AS T1 INNER JOIN countrylanguage AS T2 ON T1.Code = T2.CountryCode WHERE T1.GovernmentForm != 'Republic' EXCEPT SELECT T2.CountryCode, T2.Language FROM countrylanguage AS T2 WHERE T2.Language = 'English' ```
Predict Type: answerable
3
answerable -- Which of those countries is on the continent North America?
Next Turn predict_sql: SELECT T1.Code FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code = T2.CountryCode WHERE T1.Continent = 'North America' AND T2.Language != 'English' AND T1.GovernmentForm != 'Republic'
Predict Type: answerable
4
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
unanswerable -- What is the most popular car color?
Next Turn predict_sql:
Predict Type: unanswerable
1
answerable -- How many car models are produced by each maker? List the count and the maker full name.
Next Turn predict_sql: SELECT COUNT(DISTINCT ml.Model), cm.FullName FROM model_list ml JOIN car_makers cm ON ml.Maker = cm.Id GROUP BY cm.FullName
Predict Type: answerable
2
answerable -- Which models are the most popular?
Next Turn predict_sql: SELECT Model FROM car_names GROUP BY Model ORDER BY COUNT(*) DESC LIMIT 1
Predict Type: answerable
3
answerable -- How about the least?
Next Turn predict_sql: SELECT T1.model FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id order by count(*) asc limit 1
Predict Type: answerable
4
answerable -- Which companies have three or more models?
Next Turn predict_sql: SELECT T2.FullName FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id HAVING count(*)  >=  3
Predict Type: answerable
5
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- Hi, What Airline has the largest number of flights?
Next Turn predict_sql: SELECT Airline FROM flights GROUP BY Airline ORDER BY COUNT(*) DESC LIMIT 1
Predict Type: answerable
1
answerable -- What is the Airline with the fewest number of flights?

Next Turn predict_sql: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) LIMIT 1
Predict Type: answerable
2
answerable -- What is the abbreviation of AirTran Airways?
Next Turn predict_sql: SELECT Abbreviation FROM airlines WHERE Airline = 'AirTran Airways'
Predict Type: answerable
3
answerable -- Ah, and what is the country of AirTran Airways?
Next Turn predict_sql: SELECT Country from airlines where airline= "AirTran Airways"
Predict Type: answerable
4
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- WHAT ARE THE AFRICAN COUNTRIES THAT HAVE POPULATION LESS THAN ANY COUNTRY IN ASIA
Next Turn predict_sql: SELECT T1.Name FROM country AS T1 INNER JOIN city AS T2 ON T1.Code = T2.CountryCode WHERE T1.Continent = 'Africa' AND T1.Population < (SELECT MIN(Population) FROM country WHERE Continent = 'Asia') ```
Predict Type: answerable
1
answerable -- FROM WHICH CONTINENT IS ARUBA
Next Turn predict_sql: SELECT Continent FROM country WHERE Code = 'ABW'
Predict Type: answerable
2
answerable -- WHAT IS THE LOCAL NAME OF ANGOLA
Next Turn predict_sql: SELECT LocalName FROM country WHERE Code = "AGO"
Predict Type: answerable
3
answerable -- SURFACE AREA  OF AFGHANISTAN
Next Turn predict_sql: SELECT SurfaceArea FROM country WHERE Name = 'Afghanistan'
Predict Type: answerable
4
answerable -- WHAT IS THE CODE OF ARUBA
Next Turn predict_sql: SELECT Code FROM country WHERE Name = "Aruba"
Predict Type: answerable
5
improper -- THANK YOU
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- hi, what number of students have a dog as a pet?
Next Turn predict_sql: SELECT COUNT(DISTINCT S.StuID) FROM Student AS S JOIN Has_Pet AS HP ON S.StuID = HP.StuID JOIN Pets AS P ON HP.PetID = P.PetID WHERE P.PetType = 'dog'
Predict Type: answerable
1
answerable -- and what about the number that have a cat as a pet?
Next Turn predict_sql: SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'
Predict Type: answerable
2
answerable -- Great. Can you tell me the first names of these 3 students?
Next Turn predict_sql: SELECT Fname FROM Student WHERE StuID IN (   SELECT StuID   FROM Has_Pet   WHERE PetID IN (     SELECT PetID     FROM Pets     WHERE PetType = 'dog'   ) ) UNION SELECT Fname FROM Student WHERE StuID IN (   SELECT StuID   FROM Has_Pet   WHERE PetID IN (     SELECT PetID     FROM Pets     WHERE PetType = 'cat'   ) )
Predict Type: answerable
3
improper -- excellent. Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- what is the age of George Chuter?
Next Turn predict_sql: SELECT Age FROM employee WHERE Name = 'George Chuter'
Predict Type: answerable
1
answerable -- what is the age of lee mears?
Next Turn predict_sql: SELECT Age from employee WHERE Name = 'Lee Mears'
Predict Type: answerable
2
answerable -- find the name of the employee who got the highest one time bonus?
Next Turn predict_sql: SELECT e.Name FROM employee e JOIN evaluation ev ON e.Employee_ID = ev.Employee_ID ORDER BY ev.Bonus DESC LIMIT 1
Predict Type: answerable
3
improper -- thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- Find Flight from CVO to SNA
Next Turn predict_sql: SELECT * FROM flights WHERE SourceAirport = 'CVO' AND DestAirport = 'SNA'
Predict Type: answerable
1
answerable -- Flight from CVO to DFW
Next Turn predict_sql: SELECT FlightNo FROM flights WHERE SourceAirport = 'CVO' AND DestAirport = 'DFW'
Predict Type: answerable
2
answerable -- Which airlines have flight from CVO?

Next Turn predict_sql: SELECT DISTINCT Airline FROM flights WHERE SourceAirport = 'CVO'
Predict Type: answerable
3
improper -- Thank

Next Turn predict_sql:
Predict Type: unanswerable
4
improper -- No Thanks!


Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- How many dog owner's are there?
Next Turn predict_sql: SELECT COUNT(DISTINCT owner_id) FROM Dogs
Predict Type: answerable
1
answerable -- What is the age of the youngest dog?
Next Turn predict_sql: SELECT MIN(age) FROM Dogs ```
Predict Type: answerable
2
answerable -- What is the name of the dog who is 1 year old?
Next Turn predict_sql: SELECT name FROM Dogs WHERE age = '1'
Predict Type: answerable
3
answerable -- Of the 15 owners, what is the name of the owner who owns Evangeline?
Next Turn predict_sql:
Predict Type: unanswerable
4
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- how many shop are presented on the table
Next Turn predict_sql: SELECT COUNT(*) FROM shop
Predict Type: answerable
1
answerable -- list out the shop names
Next Turn predict_sql: SELECT Name FROM shop
Predict Type: answerable
2
answerable -- what is the location of FC Haka
Next Turn predict_sql: SELECT Location FROM shop WHERE Name = 'FC Haka'
Predict Type: answerable
3
answerable -- what is the number of products in HJK
Next Turn predict_sql: SELECT Number_products FROM shop WHERE Name = 'HJK'
Predict Type: answerable
4
improper -- thanks
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
ambiguous -- Show me all the dogs
Next Turn predict_sql: SELECT * FROM Dogs
Predict Type: answerable
1
answerable -- just show me the names of the dogs
Next Turn predict_sql: SELECT name FROM Dogs
Predict Type: answerable
2
answerable -- Nice! Tell me which of these dogs are the rarest breed
Next Turn predict_sql: SELECT d.name FROM Dogs d JOIN Breeds b ON d.breed_code = b.breed_code GROUP BY d.breed_code ORDER BY COUNT(*) ASC LIMIT 1
Predict Type: answerable
3
answerable -- What are the genders of these dogs?
Next Turn predict_sql: SELECT name, gender FROM Dogs WHERE breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )
Predict Type: answerable
4
unanswerable -- What does the ones and twos mean in the table?
Next Turn predict_sql:
Predict Type: unanswerable
5
ambiguous -- Ok sure. Tell me about dog treatments
Next Turn predict_sql: SELECT   T.treatment_id,   T.dog_id,   T.professional_id,   T.treatment_type_code,   T.date_of_treatment,   T.cost_of_treatment,   TT.treatment_type_description,   P.first_name AS professional_first_name,   P.last_name AS professional_last_name,   D.name AS dog_name FROM Treatments AS T JOIN Treatment_Types AS TT   ON T.treatment_type_code = TT.treatment_type_code JOIN Professionals AS P   ON T.professional_id = P.professional_id JOIN Dogs AS D   ON T.dog_id = D.dog_id
Predict Type: answerable
6
answerable -- Alright! just show me the treatment dates of these dogs
Next Turn predict_sql: SELECT T.date_of_treatment FROM Treatments AS T JOIN Dogs AS D ON T.dog_id = D.dog_id WHERE D.breed_code = (     SELECT breed_code     FROM Dogs     GROUP BY breed_code     ORDER BY COUNT(*) ASC     LIMIT 1 )
Predict Type: answerable
__________________
0
answerable -- Can you show the SourceAirport FlightNo 28?
Next Turn predict_sql: SELECT SourceAirport FROM flights WHERE FlightNo = 28
Predict Type: answerable
1
answerable -- Can you show the City of Airportcode APG?
Next Turn predict_sql: SELECT City FROM airports WHERE AirportCode = 'APG'
Predict Type: answerable
2
answerable -- Can Show the names of airports which do not have any flight in and out?
Next Turn predict_sql: SELECT AirportName FROM airports WHERE AirportCode NOT IN (SELECT SourceAirport FROM flights UNION SELECT DestAirport FROM flights)
Predict Type: answerable
3
improper -- Thanks!
Next Turn predict_sql:
Predict Type: unanswerable
__________________
0
answerable -- which region is the city kabul located